.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* stick it on top */
    position: sticky;
    top: 0;
    background-color: white;
    /* cover everything */
    z-index: 100;
    width: 100%;
}
.header_icon{
    object-fit: contain;
    height: 100px;
    margin-left: 20px;
}
.header_center {
    /* vertical center */
    display: flex;
    align-items: center; 
    /* take as much space as it needs */
    flex: 1;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
    
}
.header_center > input {
    border: none;
    padding: 10px;
    /* get rid of outline when on clicked */
    outline-width: 0;
    width: 250px;
}
.header_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}